
        
/* ==============project list display=========== */
        #project-list{
            display: grid;
            width: 100%;
            /* grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); */
            grid-template-columns: 40% 40%;
            grid-template-rows: 200px 200px;
            justify-content: center;
            height: 100vh;

            grid-gap: 10px;

        }
        #project-list div{

            background: purple;
        }

        #project-list div{
            justify-items: center;
        }

        #home{
            height: 100vh;
            background: white;
        }


        h4{
            text-align: center;

        }






        #content:nth-of-type(1){
            display: none;
        }

        .content{
            margin-top: 5%;
            border-bottom: 1px solid var(--purple);
            display: none;
}
    
        #project-details{
            background: var(--purple);
            color: white;
            display: none;
            margin-top: -25%;
            padding: 5%;


        }



        /* #project-details > h2, h3, p {
            width: 75%;
        } */
