/* =====style===== */


:root{
    --purple: rgb(140, 23, 225);
    /* --yellow: rgb(248, 166, 31); */
    --yellow: rgb(248, 184, 27);
}
body{
    background-color: black;
    margin: 0;
    color: var(--yellow);
    line-height:1.2em;

}

nav{
    display: flex;
    background-color: var(--yellow);
    font-size: 1.5em;
    color: var(--purple);
}

nav div{
    padding: 10px;
}
nav img{
    width: 5%;
    padding: 1%;
}

#header{
    margin-right: auto;
}

/* project page description */

section{
    padding: 10px;

}


#content div{
    margin-top: 4%;
}


ul, #content p{
    list-style: none;
    padding-left: 10px;
}

li, #content p{
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
}

/* #content ul:nth-of-type(1){
    margin: 0;

} */

