/* =====style===== */
/* *{
    color: orange;
} */

/* .blogLinks{
    color: purple;
} */


:root{
    --whiteish: #c9c7c7;
    --yellow: rgb(248, 184, 27);
    --purple: #220e22;
    --lightPurp:rgb(240, 185, 240);

}
body{
    background-color: #220e22;
    margin: 0;
    color: var(--whiteish);
    line-height:1.2em;

}

.contentTitle{
    font-size: 2em;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
    color: var(--whiteish);
    color: rgb(240, 185, 240);

}

#top h4:nth-of-type(2){
    /* color: purple; */
    position: absolute;
    bottom: 5%;
    left: 5%;



}

#top{
    height: 100vh;
    background-image: url("../images/small_text_bg.png");
    /* background-image: url("../images/code-bg.png"); */
    /* background-repeat: none; */
    background-size: cover;
    /* background-color: black; */
    border-bottom: solid white 1px;
}

/* #top > article{
    background: #220e22;
    width: 50%;
    margin: auto;
    padding: 2%;
    margin-top: 50%;
    border: 1px solid white;
} */
#top{
    display: flex;
    flex-wrap: wrap;

}
#top > article{
    background: #220e22;
    width: 65%;
    margin: auto;
    padding: 3%;
    align-content: center;
}

#quote {
    margin-top: 50%;
    text-align: center;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
    filter: drop-shadow(0 0 0.75rem  rgba(240, 185, 240, 0.295));

    border: solid 1px var(--whiteish);

    
}
/* #quote h3{
    width: 100%;
}
#quote h4{
    display: block;
} */


#top  {
    padding: 10px;

}


nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.2em;
    z-index: 100;
    
}
/* nav .icon:nth-child(n+2){
    display:none;

} */

nav{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    font-size: 1em;
    background-color: #c9c7c7;
    padding: 1%;
    flex-wrap: wrap;
    text-transform: uppercase;
}



nav div{
    padding: 10px;
}
nav img{
    width: 5%;
    padding: 1%;
}

nav .fa-bars{
    width: 100%;
    text-align: center;
    color: var(--purple);
    
    /* position: fixed;
    bottom: 10px;
    right: 10px; */

}

i {
    color: grey;
    align-content: center;
    margin: auto 0;
    font-size: 1.5em;
    width: auto;
    color: var(--purple)
    
    
    
}

.tab{
    display: none;
    
}

a{
    text-decoration: none;


}
nav a:hover{
    color: var(--yellow);



}
/* .tab i{
    color: black;
} */

#quote h3{
    border-bottom: rgb(240, 185, 240) 1px solid;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
#quote h4{
    margin-top: 0;
}

#header{
    margin-right: auto;
}

ul, #content p{
    list-style: none;
    padding-left: 10px;
}

li, #content p{
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
}


.container{
    width: 90%;
    margin: auto;
    color:rgb(240, 185, 240);
    font-size: 2em;
    padding-bottom: 2%;
    text-align: center;
    margin-top: 5%;

}

        #project-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, 130px);
            grid-auto-rows: 130px; 
            grid-gap: .1em;
            width: 90%;
            margin: auto;
            margin-top: 5%;
            padding-top: 5%;
            justify-content: center;

        }

        .dropShadow h3{
            font-size: .8em;
            color:rgb(240, 185, 240);
        }





        #project-list a{
            display: grid;
            /* grid-template-columns: 1fr; */
            /* justify-content: center; */
            align-content: center;;
            
            
        } 




        #project-list a {
            text-decoration: none;
            color: var(--yellow);




        }


        /* #project-list div{
            
            background: purple;
            z-index: 0;
        }
         */
        #cocktail{
            background-image: url("../images/bw/cocktails.jpg");
            background-size: cover;
            background-position: center;
            
            
        
        }
        #busmall{
            background-image: url("../images/bw/bus_mall.jpg");
            background-size: cover;
            background-position: center;

        
        }
        #cookiestore{
            background-image: url("../images/bw/cookies.jpg");
            background-size: cover;
            background-position: center;

        
        }

        #quiz{
            background-image: url("../images/bw/test.jpg");
            background-size: cover;
            background-position: center;


        
        }
        #barberstarrs{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/barberstarrs.jpg");
                 
        }
        #designs{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/designs.jpg");
                 
        }
/* 
        #project-list h3{
            background-color: black;
            margin: 0;
            padding: 5%;
            
            
        } */


        


        

        #project-list div{
            justify-items: center;
        }

        #project-list img{
            width: 100%;

        }

        .dropShadow h3 {
            background:rgba(146, 143, 143, 0.7);
            text-align:Center;
            padding: 1%;
            position: relative;
            opacity: 0;

        }






          .dropShadow{
            border: 2px solid var(--whiteish);
            box-shadow: 0px 0px 10px 2px rgba(240, 185, 240, 0.295);

        }
          .dropShadow:hover > h3 {
            transition-duration: .7s;
            box-shadow: none;
            opacity: 1;

        }



        h4{
            text-align: center;

        }





        #content:nth-of-type(1){
            display: none;
        }

        .content{
            margin-top: 5%;
            border-bottom: 1px solid var(--purple);
            display: none;
}
    
        .project-details{
            color: white;
            display: none;
            /* margin-top: -25%; */
            padding: 5%;


        }

        #projectSection{
            display: none;
            /* background: var(--purple); */
            /* background: #c9c7c7; */
            width: 80%;
            margin: auto;
            margin-top: 10%;
            border: solid 5px var(--lightPurp);
            color: #5e4062;



        }

        #projectSection a {
            color: var(--lightPurp);
        }
        #projectSection a:hover {
            color: var(--whiteish);
        }


        .blogSpot{
            padding: 5%;
           
        }

        .blogTitle{
            color: rgb(252, 232, 252);
            

        }
        .blogTitle:hover {
            cursor: crosshair;


        }

        .blogContent{
            border-bottom: white solid 1px;
        }

        .notes {
            font-size: 1.2em;
            line-height: 1.3em;
            color: var(--whiteish)
 
        }

        .sites li{

            color: var(--whiteish)

        }





        #blogSection a {
            /* color: var(--whiteish); */
            color: var(--lightPurp);
        }

        #blogSection a:hover {
            color: rgba(240, 185, 240, 0.295);
        }

        .notes{
            display: none;
        }


        @media screen and (min-width: 700px) {
            .dropShadow h3{
                font-size: .6em;
                color:rgb(240, 185, 240);
            }
            #project-list{
                grid-gap: .5em;
    
            }
            .blogSpot{
                padding: 10%;
               
            }

        
            #projectSection{
                border: solid 5px var(--lightPurp);
                padding: 1%;
   
            }
    

            


        }