#contact {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#contact h2 {
  margin: 0;
  text-align: center;
  background: white;
  padding: 5%;
}

.contact-form {
  display: grid;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}


#contact input {
  width: 40vw;
  height: 2em;
}

#contact textarea {
  width: 80vw;
  height: 20em;
}


